interpolarr/*
!interpolarr/go.mod
!interpolarr/go.sum
!interpolarr/**/*.go
!interpolarr/migrations/
!interpolarr/views/
!interpolarr/entrypoint.sh
!interpolarr/.env.docker
!interpolarr/docker_default.yml

rife-ncnn-vulkan-go/*
!rife-ncnn-vulkan-go/go.mod
!rife-ncnn-vulkan-go/go.sum
!rife-ncnn-vulkan-go/*.go

!rife-ncnn-vulkan-go/rife-wrapper/
rife-ncnn-vulkan-go/rife-wrapper/build
rife-ncnn-vulkan-go/rife-wrapper/rife-ncnn-vulkan/models
rife-ncnn-vulkan-go/rife-wrapper/rife-ncnn-vulkan/images